$primaryColor: #1A43BF;
$secondaryColor: #576CA8;
$primaryDark: #1B264F;
$whiteSmoke: #F5F3F5;
$offColor: #302B27;
$agrey: #9c98a2;
$black: #101010;

/* Brand Colors */
$twitter: #1da1f2;
$twitch: #6441a5;
$facebook: #3b5998;
$instagram: #f56040;
$github: #4078c0;
$bitbucket: #205081;

$body-bg: #101010;
$body-color: $agrey;

@import '~bootstrap/scss/bootstrap.scss';

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin verticalAlign() {
  @include transform(translateY(-50%));
  position: relative;
  top: 50%;
}

@mixin horizontalAlign() {
  @include transform(translateX(-50%));
  position: relative;
  left: 50%;
}

@mixin fullCenter() {
  @include transform(translateY(-50%) translateX(-50%));
  position: relative;
  top: 50%;
  left: 50%;
}

@mixin noSelect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: none !important;
  }
}