a {
  &.twitter {
    &:hover {
      color: $twitter !important;
    }
  }
  &.twitch {
    &:hover {
      color: $twitch !important;
    }
  }
}
.homeFirstPanelContainer {
  background-color: $primaryDark;
  padding: 0;
  margin: 0;
}
.homeFirstPanel {
  background-image: url("../../images/dak.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  max-width: 100vw;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
  color: #fff;
  @include media-breakpoint-down(sm) {
    background-position: 80% center;
  }
  .about-content {
    @include verticalAlign();
    a {
      color: $whiteSmoke;
      font-weight: bold;
      &:hover {
        color: $whiteSmoke;
        text-decoration: underline;
      }
    }
  }
}