.skillsPanelContainer {
  background-color: $primaryDark;
  padding: 0;
  margin: 0;
}
.skillsPanel {
  background-color: $primaryDark;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  max-width: 100vw;
  color: #fff;
}