.socialMediaPanelContainer {
  background-color: $bitbucket;
  padding: 0;
  margin: 0;
}
.socialMediaPanel {
  height: 100vh;
  max-width: 100vw;
  //clip-path: polygon(100% 100%, 0 100%, 0 0, 0 calc(100% - 5vw));
  color: #fff;
}
.social-data {
  font-family: "Titillium Web", sans-serif;
  sup {
    font-size: 0.4em;
  }
}
.social-col {
  height: 100vh;
  padding: 0;
  .social-panel {
    width: 100%;
    text-align: center;
    //z-index: $zindex-fixed;
    @include verticalAlign();
    .panel-icon {
      font-size: 200px;
    }
  }
  &.one {
    background-color: $bitbucket;
  }
  .one {
    height: 100vh;
    background-color: $twitter;
    clip-path: polygon(0 0, 110% 0, 90% 100%, 0 100%);
  }
  &.two {
     background-color: $twitter;
     background-size: 50% 50%;
   }
  .two {
    height: 100vh;
    background-color: $bitbucket;
    clip-path: polygon(20% 0, 140% 0, 100% 100%, -20% 100%);
  }
  &.three {
    background-color: $twitch;
    background-size: 50% 50%;
  }
  .three {
    height: 100vh;
    background-color: $bitbucket;
    clip-path: polygon(0% 0, 120% 0, 80% 100%, -20% 100%);
  }
  .four {
    height: 100vh;
    background-color: $twitch;
    clip-path: polygon(10% 0, 110% 0, 100% 100%, -10% 100%);
  }
}