header.pageHeader {
  transition: all ease-in-out 300ms;
  padding: 40px;
  position: fixed;
  width: 100%;
  z-index: $zindex-fixed;
  #navbarText {
    transition: font-size 0s 300ms;
    font-size: 1em;
  }
  @include media-breakpoint-down(sm) {
    padding: 20px;
  }
  font-size: 1.5em;
  .navbar-brand {
    color: $whiteSmoke;
    opacity: 1;
    &:focus {
      color: $whiteSmoke;
    }
    @include noSelect();
    &:hover {
      cursor: pointer;
    }
  }
  .navbar-toggler {
    @include noSelect();
    padding-left: 0;
    padding-right: 0;
    &:hover {
      cursor: pointer;
    }
  }
  .logo {
    max-width: 200px;
    width: 200px;
    transition: all ease-in-out 300ms;
    @include media-breakpoint-down(sm) {
      width: 100px;
    }
  }
  .bars {
    color: $whiteSmoke;
  }
  a {
    color: $whiteSmoke;
    opacity: 0.8;
    transition: all ease-in-out 300ms;
    text-shadow: 0 0 0 #101010;
    &:hover {
      opacity: 1;
      text-shadow: 2px 2px 4px #101010;
    }
  }
  &.scrolled {
    padding: 10px;
    nav {
      .logo {
        transform: scale(0.5) translateX(-50%) !important;
        @extend .ml-4;
      }

      #navbarText {
        //font-size: 0.8em;
      }
    }
  }
}