@import '../sass/variables';

html {
  margin: 0;
  padding: 0;
  //max-width: 100vw;
  //overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  color: $whiteSmoke;
  font-family: Quicksand, sans-serif !important;
}

h1 {
  padding: 0;
  margin: 0;
}

main {
}